certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
Deprecated==1.2.12
Flask==1.12
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
gcloud==0.18.3
googleapis-common-protos==1.53.0
greenlet==1.1.0
httplib2==0.19.1
idna==2.10
importlib-metadata==3.10.0
itsdangerous==2.0.1
Jinja2==3.0.0
joblib==1.0.1
jwcrypto==0.9.1
kiwisolver @ file:///C:/ci/kiwisolver_1612282555033/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854182866/work
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1620831398996/work
oauth2client==4.1.3
olefile==0.46
pandas @ file:///C:/ci/pandas_1618365625310/work
Pillow @ file:///C:/ci/pillow_1617386320391/work
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
Pyrebase4==4.5.0
python-dateutil==2.8.1
python-jwt==3.3.0
pytz==2021.1
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.2
scikit-learn @ file:///C:/ci/scikit-learn_1622739499047/work
scipy @ file:///C:/ci/scipy_1618856124610/work
sip==4.19.13
six==1.16.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1620712604985/work
threadpoolctl==2.1.0
tornado @ file:///C:/ci/tornado_1606924294691/work
urllib3==1.26.5
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
WTForms==2.3.3
zipp==3.4.1
